body{
  font-family:'Thasadith';
  text-align:center;
}

.listBox
{    
  margin-top:10px;
  padding:10px;
}

.li-to-do{
  text-transform: capitalize;
}

.done-item
{
  color:lightslategray;
  font-style: italic;
  text-decoration: line-through;
  text-transform: capitalize;
}